@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  font-family: 'outfit';
  /* background-color:#122d7d; */
  /* background: linear-gradient(135deg, #766ec7, #298ebd, #100d25); */
  background: linear-gradient(135deg, #1f2937, #111827);
  /* background-image: url('/logo.png'); */
  /* path to your image */
  /* opacity: 0.5; */
  color: black;
  transition: background 0.3s, color 0.3s;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease forwards;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

/* Marquee Animation */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}